[Interface]
PrivateKey = __PRIVATE_KEY__
Address = __ADDRESS__/24
DNS = 1.1.1.1

[Peer]
PublicKey = MaYZL/DNVnvrMHnqu7fh8yFLFaZs+sbRvdNWOB5nznI=
AllowedIPs = 0.0.0.0/0, ::/0
Endpoint = 46.8.112.244:51820
PersistentKeepalive = 25
