[Interface]
PrivateKey = __PRIVATE_KEY__
Address = __ADDRESS__/24
DNS = 1.1.1.1

[Peer]
PublicKey = QrsyvITrXZA1a4eGj42WHXNIA11pIYX6xLmE24hAjWs=
AllowedIPs = 0.0.0.0/0, ::/0
Endpoint = 46.8.112.244:51820
PersistentKeepalive = 25
